.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 6%;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.left-section {
    flex: 1;
    min-width: 300px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    min-width: 150px;
    flex-wrap: wrap;
}

.button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
    /* Запрещает перенос текста внутри кнопки */
}

.button:hover {
    background-color: #0056b3;
}

.username {
    margin: 0;
}