.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    /* Для равномерного отступа справа */
}

.input:focus {
    border-color: #007bff;
    outline: none;
}