.login-panel {
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.login-panel h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    box-sizing: border-box;
    /* Для равномерного отступа справа */
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.link:hover {
    color: #0056b3;
}

.inline-group {
    display: flex;
    align-items: center;
}

.error-text {
    color: red;
    font-size: 0.9em;
}